body{
  width:1300px;
  height: 730px;
  background: linear-gradient( #FFFFFF,#FFFFFF,#00D0F5 );
    margin-left: 20px;
}
h2{
  text-align: center;
}
.formregistro{
  width: 500px;
}
.centro{
  margin-left: 80px;
}
.centro1{
  margin-left: 206px;
}
.centro2{
  margin-left: 95px;
}
.centro3{
  margin-left: 174px;
}
.centro4{
  margin-left: 192px;
}
.centro5{
  margin-left: 193px;
}
.centro6{
  margin-left: 114px;
}
.centro7{
  margin-left: 98px;
}
.centro8{
  margin-left: 90px;
}
.centra{
  margin-left: 80px;
}
.centra1{
  margin-left: 106px;
}
.centra2{
  margin-left: 75px;
}
.centra3{
  margin-left: 73px;
}
.centra4{
  margin-left: 205px;
}
.centra5{
  margin-left: 83px;
}
